
@{
    ViewData["Title"] = "Create";
}

@model AboutPostDto
<div class="row">
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                        <span asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label>description</label>
                        <input type="text" class="form-control" asp-for="Description" placeholder="Description">
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input class="form-control" asp-for="formFile" placeholder="Image">
                        <span asp-validation-for="formFile"></span>
                    </div>
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="form-group">
                            <label>Button</label>
                            <input class="form-control" asp-for="@Model.Buttons[i].Icon" placeholder="Icon">
                            <input class="form-control" asp-for="@Model.Buttons[i].Name" placeholder="Name">
                            <span asp-validation-for="Buttons"></span>
                        </div>
                    }
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>